# deps
node_modules/
.pnpm-store/

# output
dist/
dist-ssr/

# env
.env*
!.env.example

# logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json

# Turbo
.turbo

# misc
.DS_Store
Thumbs.db
*.local
*.tsbuildinfo

# runtime generated
src/generated/
